---
import type { Props } from '@astrojs/starlight/props';
import StarlightHeader from '@astrojs/starlight/components/Header.astro';
import HeaderAuthStatus from './HeaderAuthStatus.astro';
---

<div class="header sl-flex">
  <div class="sl-flex">
    <slot name="start" />
  </div>
  <div class="sl-flex">
    <slot name="end" />
    <HeaderAuthStatus />
  </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
</style>